/* inline: não quebra de linha, largura mínima*/

.inline {
    background-color: rgb(236, 200, 37);
    display: inline;
    margin-left: 20px;
    padding-right: 40px;
}

/* block: quebra de linha, largura máxima e aceita margem e preenchimento vertical*/

.block {
    background-color: rgb(236, 200, 37);
    display: block;
    margin-top: 10px;
    padding-bottom: 10px;
}

/* inline-block: não quebra de linha, largura máxima e aceita margem e preenchimento vertical*/
.inline-block {
    background-color: rgb(236, 200, 37);
    display: inline-block;
    margin-top: 10px;
    padding-top: 10px;
}